
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<div class="text-center">
    <h1 class="display-4">Thanks for visting us.</h1>
    <p>Visit us @Html.ActionLink("Again","Login","Account")</p>
</div>
